@page
@model MarketplaceBackend.Pages.Admin.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.Id" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="PriceString" class="form-control" />
                <span asp-validation-for="PriceString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea asp-for="Product.Description" class="form-control" ></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label">Category</label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <a href=@Model.Product.ImageURL target="_blank">
                <img src=@Model.Product.ImageURL style="max-width: 256px;" />
            </a>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" class="form-control" type="file" />
                <span asp-validation-for="Product.ImageURL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DetailsPicturePrimary" class="control-label">Details primary picture</label>
                <input asp-for="DetailsPicturePrimary" class="form-control" type="file" />
                <span asp-validation-for="Product.DetailsPictureURLPrimary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DetailsTextPrimary" class="control-label">Details primary text</label>
                <textarea asp-for="Product.DetailsTextPrimary" class="form-control" ></textarea>
                <span asp-validation-for="Product.DetailsTextPrimary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailsPictureSecondary1" class="control-label">Details secondary pictures</label>
                <input asp-for="DetailsPictureSecondary1" class="form-control" type="file" />
                <span asp-validation-for="Product.DetailsPictureURLSecondary" class="text-danger"></span>

                <input asp-for="DetailsPictureSecondary2" class="form-control" type="file" />
                <span asp-validation-for="Product.DetailsPictureURLSecondary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DetailsTextSecondary" class="control-label">Details secondary text</label>
                <textarea asp-for="Product.DetailsTextSecondary" class="form-control" ></textarea>
                <span asp-validation-for="Product.DetailsTextSecondary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
